@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

#menu::-webkit-scrollbar {
  width: 0;
  height: 0;
}

::-webkit-scrollbar {
  @apply w-2 h-2;
}

::-webkit-scrollbar-track {
  @apply bg-zinc-900;
}

::-webkit-scrollbar-thumb {
  @apply bg-zinc-800 rounded;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-zinc-700;
}
